.toast {
  position: relative;
  width: var(--toast-width);
  height: var(--toast-min-height);

  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 600;
  font-size: 18px;

  box-shadow: 5px 5px 5px 2px #e6e6e6;

  &--success {
    background-color: var(--toast-success);
  }

  &--warn {
    background-color: var(--toast-warn);
  }

  &--error {
    background-color: var(--toast-error);
    color: #fff;
  }
}
