:root {
  --toast-width: 320px;
  --toast-background-color: #fff;
  --toast-min-height: 64px;
  --toast-max-height: 120px;
  --toast-zIndex: 9999;

  --toast-success: #00b33c;
  --toast-warn: #ff9900;
  --toast-error: #ff3333;
  --toast-light-gray: #b3b3b3;
  --toast-position-top: 32px;
  --toast-position-bottom: 32px;
}
