:root {
  --toast-width: 320px;
  --toast-background-color: #fff;
  --toast-min-height: 64px;
  --toast-max-height: 120px;
  --toast-zIndex: 9999;

  --toast-success: #009933;
  --toast-warn: #ffcc00;
  --toast-error: #e60000;
  --toast-light-gray: #b3b3b3;
}
